{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row checkout-text">
            <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
                <hr>
                <h2 class="logo-font mb-4 text-center">Restaurant Admin Console</h2>
                <h3 class="logo-font mb-4 text-center">Add a Restaurant </h3>
                <hr>
            </div>
        </div>
        <div class="row checkout-text">
            <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
                <form method="POST" action="{% url 'add_restaurant' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            <p class="bg-light text-white p-3">{{ field }}</p>
                        {% endif %}
                    {% endfor %}
                    <div class="text-center font-weight-bold tp-5">
                        <button class="bg-info text-white p-3 btn btn-black rounded-0" type="submit">Add Restaurant</button>
                        <a class="bg-info text-white p-3 btn btn-outline-black rounded-0" href="{% url 'restaurants' %}">Cancel</a>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}
