{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Restaurants</h2>
                <hr class="w-50 mb-1">
                    {% for c in current_cuisine %}
                    <a class="category-badge text-decoration-none" href="{% url 'restaurants' %}?cuisine={{ c.name }}">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Cuisine: {{ c.name }}</span>
                    </a>
                    {% endfor %}
                    {% for c in current_location %}
                    <a class="category-badge text-decoration-none" href="{% url 'restaurants' %}?location={{ c.name }}">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Location: {{ c.name }}</span>
                    </a>
                    {% endfor %}
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'restaurants' %}">Restaurants Home</a> | </span>
                            {% endif %}
                            {{ restaurants|length }} Restaurants{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                    <div class="pb-3 col-12 col-md-12 col-sm-6 order-md-last d-flex justify-content-end justify-content-md-end">
                        <div class="sort-select-wrapper w-30">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="discount_asc" {% if current_sorting == 'discount_asc' %}selected{% endif %}>Discount (low to high)</option>
                                <option value="discount_desc" {% if current_sorting == 'discount_desc' %}selected{% endif %}>Discount (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="cuisine_asc" {% if current_sorting == 'cuisine_asc' %}selected{% endif %}>Cuisine (A-Z)</option>
                                <option value="cuisine_desc" {% if current_sorting == 'cuisine_desc' %}selected{% endif %}>Cuisine (Z-A)</option>
                                <option value="location_asc" {% if current_sorting == 'location_asc' %}selected{% endif %}>Location (A-Z)</option>
                                <option value="location_desc" {% if current_sorting == 'location_desc' %}selected{% endif %}>Location (Z-A)</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col">
                <div class="row">
                        {% for restaurant in restaurants %}
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="card">
                                    <br>
                                    <h5 class="card-title text-center">{{ restaurant.name }}</h5>
                                    {% if restaurant.image %} 
                                        <img class="card-img-top restaurant-image rounded mx-auto d-block" src=" {{ restaurant.image.url }} " alt="{{ restaurant.name }}">
                                    {% else %}
                                        <img class="card-img-top restaurant-image rounded mx-auto d-block" src=" {{ MEDIA_URL }}restaurant_noimage.jpg " alt="{{ restaurant.name }}">
                                    {% endif %}
                                    <div class="card-body mx-auto restaurant-description">
                                            <p class="card-text">{{ restaurant.description }}</p>
                                    </div>
                                    <div class="card-body pt-2 mx-auto restaurant-card-text">
                                            <div class="p-2">
                                            <a class="card-text" href="{% url 'restaurants' %}?cuisine={{ restaurant.cuisine }}">{{ restaurant.cuisine }}</a>
                                            restaurant in
                                            <a class="card-text" href="{% url 'restaurants' %}?location={{ restaurant.location }}">{{ restaurant.location }}</a>
                                            </div>
                                            <div class="card-text bg-warning">
                                                Voucher Cost: {{ restaurant.price }}<br>
                                                Discount Amount! {{ restaurant.discount|floatformat:0 }}%
                                            </div>
                                    </div >
                                    <div class="pt-3 card-body mx-auto restaurant-card-text">
                                            <a class="bg-info text-white p-3" href="{% url 'restaurant_details' restaurant.id %}">Purchase Restaurant Voucher</a><br><br>
                                            While you are here why not <a href="#" class="card-link">Make a Booking!</a><br>
                                        {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <p class="card-text">Admin:
                                                        <a href="{% url 'update_restaurant' restaurant.id %}">Update Restaurant Details</a> | 
                                                        <a class="text-danger" href="{% url 'remove_restaurant' restaurant.id %}">Remove Restaurant</a>
                                                    </p>
                                                </small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
        <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>

    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}