{% extends "base.html" %}
{% load static %}


{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center mt-3">
                    <h2 class="logo-font">Restaurants</h2>
                    {% for c in current_cuisine %}
                    <a class="category-badge text-decoration-none" href="{% url 'restaurants' %}?cuisine={{ c }}">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c }}</span>
                    </a>
                    {% endfor %}
                    {% for c in current_location %}
                    <a class="category-badge text-decoration-none" href="{% url 'restaurants' %}?location={{ c }}">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c }}</span>
                    </a>
                    {% endfor %}
                    <hr class="w-50 mb-1">
                </div>
            </div>
        <div class="row">
            <div class="col">
                <div class="row">
                        {% for restaurant in restaurants %}
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            
                                <div class="card">
                                <br><h5 class="card-title text-center">{{ restaurant.name }}</h5>
                                    <img class="card-img-top" style="height:225px" src=" {{ restaurant.image.url }} " alt="Card image cap">
                                    <div class="card-body">
                                            <p class="card-text" style="height:75px">{{ restaurant.description }}</p>
                                    </div>
                                    <div class="card-body">
                                        <a href="#" class="card-link">Make a Booking!</a><br>
                                        <a class="text-muted" href="{% url 'restaurants' %}?cuisine={{ restaurant.cuisine }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ restaurant.cuisine }}
                                                </a>
                                                <br>
                                        <a class="text-muted" href="{% url 'restaurants' %}?location={{ restaurant.location }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ restaurant.location }}
                                                </a>
                                                <br>
                                        Meal Discount: {{ restaurant.discount }}<br>
                                        Discount Price: {{ restaurant.price }}<br>
                                        Premium Members Discount Price: {{ restaurant.price }}<br>
                                    </div>
                                    <div class="card-body">
                                        Buy Now!!
                                        <a href="{% url 'restaurant_details' restaurant.id %}">Look at it</a><br>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}