{% extends "base.html" %}
{% load static %}


{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center mt-3">
                    <h2 class="logo-font">Restaurants</h2>
                    c sohuld be inder her
                    {{ current_cuisine }}
                    {{ current_location }}
                    current sorting is
                    {{ current_sorting }}
                    {% for c in current_cuisine %}
                    <a class="category-badge text-decoration-none" href="{% url 'restaurants' %}?cuisine={{ c.name }}">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Cuisine: {{ c.name }}</span>
                    </a>
                    {% endfor %}
                    {% for c in current_location %}
                    <a class="category-badge text-decoration-none" href="{% url 'restaurants' %}?location={{ c.name }}">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Location: {{ c.name }}</span>
                    </a>
                    {% endfor %}

                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="discount_asc" {% if current_sorting == 'discount_asc' %}selected{% endif %}>Discount (low to high)</option>
                                <option value="discount_desc" {% if current_sorting == 'discount_desc' %}selected{% endif %}>Discount (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="cuisine_asc" {% if current_sorting == 'cuisine_asc' %}selected{% endif %}>Cuisine (A-Z)</option>
                                <option value="cuisine_desc" {% if current_sorting == 'cuisine_desc' %}selected{% endif %}>Cuisine (Z-A)</option>
                                <option value="location_asc" {% if current_sorting == 'location_asc' %}selected{% endif %}>Location (A-Z)</option>
                                <option value="location_desc" {% if current_sorting == 'location_desc' %}selected{% endif %}>Location (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'restaurants' %}">Restaurants Home</a> | </span>
                            {% endif %}
                            {{ restaurants|length }} Restaurants{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                    
                    <hr class="w-50 mb-1">
                </div>
            </div>
        <div class="row">
            <div class="col">
                <div class="row">
                        {% for restaurant in restaurants %}
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            
                                <div class="card">
                                <br><h5 class="card-title text-center">{{ restaurant.name }}</h5>
                                    <img class="card-img-top" style="height:225px" src=" {{ restaurant.image.url }} " alt="Card image cap">
                                    <div class="card-body">
                                            <p class="card-text" style="height:75px">{{ restaurant.description }}</p>
                                    </div>
                                    <div class="card-body">
                                        <a href="#" class="card-link">Make a Booking!</a><br>
                                        <a class="text-muted" href="{% url 'restaurants' %}?cuisine={{ restaurant.cuisine }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ restaurant.cuisine }}
                                                </a>
                                                <br>
                                        <a class="text-muted" href="{% url 'restaurants' %}?location={{ restaurant.location }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ restaurant.location }}
                                                </a>
                                                <br>
                                        Meal Discount: {{ restaurant.discount }}<br>
                                        Discount Price: {{ restaurant.price }}<br>
                                        Premium Members Discount Price: {{ restaurant.price }}<br>
                                    </div>
                                    <div class="card-body">
                                        Buy Now!!
                                        <a href="{% url 'restaurant_details' restaurant.id %}">Look at it</a><br>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
        <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>

    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}