{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid homepage">
    <div class="row">
        <div class="col-sm-8 offset-sm-1 homepage-largenotice">
            <h2 class="text-black">
                Spend and Save with Munchies Mega Meal Deals!
            </h2>
        </div>
    </div>
        <div class="row pt-3">
        <div class="col-sm-6 offset-sm-1 homepage-largenotice">
            <h2 class="text-black">
                Purchase a restaurant voucher and receive a discount!
            </h2>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-sm-3 offset-sm-1 homepage-largenotice">
            <h1 class="text-black">
                <a class="shopnow-link" href="{% url 'restaurants' %}">Shop Now!</a>
            </h1>
        </div>
    </div>
</div>
{% endblock %}