.logo-font {
    text-transform: uppercase;
}

.navbar-background {
    background-color: #DFF944;
}

.hozli {
padding: 2px 25px;
text-decoration: none;
font-size: 1.2em;
font-weight: strong;
border-radius: 15px 15px 15px 0;
width: 200px;
}

.hoza {color: #ece5e4;}

.banner-attributes {
    background-color: #F308D3;
}

.homepage {
    background-image: url('/media/background_image.jpg'); 
    background-size: cover;
    height: 650px;
    padding: 100px 0 0 0;
    }

.homepage-bubbles {
    background-color: #ffffff;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .card-img-top {
      height: 100px;
  } 
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}