.navbar-background {
    background-color: #DFF944;
}

.hozli {
padding: 2px 25px;
text-decoration: none;
font-size: .4em;
font-weight: strong;
border-radius: 15px 15px 15px 0;
width: 200px;
}

.title {
    font-family: 'Chewy', serif;
    font-size: .8em;
}

body {
    font-family: 'Open Sans', serif;
    font-size: 48px;
}

.homepage {
    background-image: url('/media/background_image_small.jpg'); 
    background-size: cover;
    height: 800px;
    padding: 100px 0 0 0;
    }

.homepage-bubbles {
    background-color: #ffffff;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .card-img-top {
      height: 100px;
  } 
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}