{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <!-- Tag to support older IE versions -->
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bubblegum+Sans"/>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <title>Restaurant Vouchers</title>
  </head>
  <body>
      <div>
<nav class="navbar navbar-expand-md navbar-light navbar-background">
    <h3 class="my-auto"><a class="navbar-brand" href="#">Restaurant Discount</a></h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100 flex-md-column" id="navbarCollapse">
	    <form class="form-inline ml-auto">
            <div class="input-group">
                <input type="text" class="form-control border-dark" placeholder="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
        <ul class="navbar-nav ml-auto small mb-2 mb-md-0 navbar-background">
            <li class="nav-item active">
                <a class="nav-link py-1" href="./index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="./readit.html">Shopping Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="./watchit.html">Currency</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="#">Sign Up/Login</a>
            </li>
        </ul>
    </div>
</nav>
</div>
<div class="container banner-attributes">
<div class="row banner-attributes align-items-center">
    <div class="col s12 center d-flex">
        <ul class="list-group list-group-horizontal-lg list-group-horizontal-xl list-unstyled mx-auto">           
            <li class="nav-item active hozli">
                <a class="nav-link py-1 hoza" href="./index.html">Restaurants</a>
            </li>
            <li class="nav-item hozli">
                <a class="nav-link py-1 hoza" href="./readit.html">Cuisine</a>
            </li>
            <li class="nav-item hozli">
                <a class="nav-link py-1 hoza" href="./watchit.html">Location</a>
            </li>
            <li class="nav-item hozli">
                <a class="nav-link py-1 hoza" href="#">New Arrivals</a>
            </li>
        </ul>
    </div>
</div>
</div>

   {% block content %}
   {% endblock %}

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>