{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        {% if shoppingbag_items %}
        {{ shoppingbag_items }}
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'restaurants' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
        <div class="col-sm-4 offset-sm-1 homepage-bubbles">
            <h1 class="display-4 logo-font text-black ">
                Your Mega Meal Deals are waiting!
            </h1>
        </div>
    </div>
    <div class="row" style="height: 50px;">
    </div>
    <div class="row">
        <div class="col-sm-4 offset-sm-1 homepage-bubbles">
            <h4 class="btn btn-lg rounded-0 display-4 logo-font text-black ">
                <a href="{% url 'restaurants' %}">Shop Now</a>
            </h4>
        </div>
    </div>

</div>
{% endblock %}